[diff]
    colorMoved = default
	tool = nvimdiff
[init]
	defaultBranch = main
[user]
	name = Arnab Chakraborty
	email = that.zytact@gmail.com
[push]
	default = current
[coderabbit]
	machineId = cli/9c471f4800f44d17a302b2909f68ea7f
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
