[diff]
    colorMoved = default
	tool = nvimdiff
[init]
	defaultBranch = main
[user]
	name = Arnab Chakraborty
	email = that.zytact@gmail.com
[push]
	default = current
[coderabbit]
	machineId = cli/9c471f4800f44d17a302b2909f68ea7f
